#titre-unique{
    color:purple;
    text-align: center;
}

.mon-premier-titre{
    color:black;
}

.mon-deuxième-titre{
    color:#222EBD;
}

.informatique{
    color:#222EBD;
}

.dessin{
    color:purple
}


.février{
    color:#222EBD;
}

.juin{
    color:purple;
}

#techno{
    color:#127620
}

.juridique{
    color:#A05E33
}